<div style="position: absolute; top: 90px; z-index:3; left: 30px; display:flex; align-items:center;">
    <span style="font-size: 23px; font-family: Russo One, sans-serif;">
        LIVE DROPS:
    </span>
    <img src="/img/open-cardboard-box (2).png">
</div>

<div id="drops">
    <div id="dropsRow" class="sliderDrops">
        {{#each drops}}
        <div class="" style="text-align: center;">
            <div style="height: 45px; width: 60px;margin: auto;">
                <img src="/img/items/{{this.item.image}}"
                    style="height: auto; width: auto; max-height: 60px; max-width: 60px; margin: auto;"
                >
            </div>
            <br>
            <div style="display: inline;">
                <a href="/profile/{{this.user.username}}" 
                    style="font-family: 'Roboto', sans-serif; 
                        background:#20A4F3;
                        border-radius: 18px;
                        font-size: 14px;
                        color: #FFFFFF;
                        padding:4px;
                    ">
                    {{formatUsername this.user.username}}
                </a>
            </div>
            <br>
        </div>
        {{/each}}
    </div>
    {{!-- <div class="drops-truck-holder" style="position: absolute; top: 90px; z-index:3; left: 30px; display:flex; align-items:center;">
        <img src="/img/delivery-truck.png" alt="" style="max-width:20%">
        <img src="/img/gif-truck.gif" alt="" style="max-width:20%">
    </div> --}}
</div>

<script>
  $('.sliderDrops').slick({
        slidesToShow: 13,
        slidesToScroll: 5,
        pauseOnHover: true,
        arrows: false,
        draggable: true,
        dots: false,
        infinite: false,
        speed: 300,
        responsive: [
            {
            breakpoint: 1700,
                settings: {
                    slidesToShow: 11,
                    slidesToScroll: 11,
                }
            },
            {
            breakpoint: 1500,
                settings: {
                    slidesToShow: 10,
                    slidesToScroll: 10,
                }
            },
            {
            breakpoint: 1400,
                settings: {
                    slidesToShow: 9,
                    slidesToScroll: 9,
                }
            },
            {
            breakpoint: 1200,
                settings: {
                    slidesToShow: 8,
                    slidesToScroll: 8,
                }
            },
            {
            breakpoint: 1100,
                settings: {
                    slidesToShow: 7,
                    slidesToScroll: 7,
                }
            }
        ]
  });
</script>