<div  class="modal white" id="fair" >
    <div>
            <a href="#" onclick="closeLoginModal();">
                <i class="material-icons">close</i>
            </a>
        
        <h3> Fair packing policy </h3>
        <p> </p>
        <br>
        <h3> </h3>
        <p> </p>
    </div>
</div>



