<style>
.modal {
    width: 45%;
}
.middle
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.middle h5 {
    margin: 5px 0;
}
.hr-middle {
    display: inline-block;
}
.hr-bottom {
    display: block;
    text-align: center;
    margin-top: 25px;
}

.provably-fair {
    padding-top: 20px;
    width: 70%;
    max-height: 90%;
}

.provably-fair .footer-copyright {
    padding-top: 10px;
    padding-bottom: 30px;
}

</style>
<div class="modal white provably-fair" id="fairprov">
    <div style="position:relative;">
            <a href="#" onclick="closeFairModal();">
                <i style="float:right; margin-right:20px;" class="material-icons">close</i>
            </a>
        <div style="padding-left:20px; padding-right:20px;">
        <div> 
            <div class="middle">
        <img src="/favicon.png" alt="logo" />
        <h5 style="padding-left:20px;" >First Transparent eGaming website </h5>
            </div>
        <hr class="hr-middle" style="width:55%;">
        <p>Our website is all about tranparent fair play, and this software have same winning chance for everyone.Live drop is where it all starts. Every winning item is shown in our live drop feed.You can check them out at any time. We dont hide enything from our customers. As you can check that  every item is real and well described byclicking on it, the same way you can check what did other players win by openingtheir boxes. If you try it out yourself, you will see that your username and your items will also popup at live drop feed. </p>
        <br>
        </div>
        <div>
            <div class="middle"> 
        <img src="/favicon.png" alt="logo" />
        <h5 style="padding-left:20px;">Spin Outcome </h5>
            </div>
        <hr class="hr-middle" style="width:55%;">
        <p>Many games of chance are designed to make one person have a better chance ofwinning that the other. Every now and then, the loser will win, which gives them the confidence to continue playing! However, if the game is weighted towards one player, then that person will always win in the end, it just depends when will it happen.Every box on Magicunbox has ''winning chances'' slider that is set up by official eGaming law software. It will show to you the exact chances that you have for winning every item.You can win premium items in one spin or five spins. No one knows. But when there is a chance it will happen for sure. Math doesn't lie.You can also calculate your lottery chances of winning <a href="http://www.webmath.com/lottery.html" target="_blank">HERE</a> by inserting same data as seen in our boxes. 
        </p>
        </div>

        <div>
            <div class="middle">
        <img src="/favicon.png" alt="logo" />
        <h5 style="padding-left:20px;">You can't really lose </h5>
            </div>
        <hr class="hr-middle" style="width:55%;">
        <p>And the most important thing that define us from others is the fact that YOU CAN NOT LOSE. When you unbox, you will always receive one item fromone spin. What will you do with the item after you get it it's up to you. You can sell it, or ship it to your home adress. As you can see from many videos on the web, our hands are super busy packing each item and sending it to our customers.We ship items via amazon, aliexpres, ebay, or via reliable local stores from your country.Digital goods need less time to come to you, but we also try to ship physical items as soon as you order them.Many people tried to make a bad name for our website, but with your help and with our eGaming fair play system we managed to top all of them and to become most visited coupon store website. </p>
        </div>
        <hr class="hr-bottom" style="width:55%;">
        <div class="footer-copyright">
        <div class="container">
            MagicUnbox all rights reserved © <span class="year"></span>
        </div>
    </div>
        
        
        </div>
</div>
</div>



