<footer class="page-footer" style="background-image: linear-gradient(to right, #293544, #1c3c53, #09161f);">
    <div class="footer-container">
        <div class="row footer-items footer-flex footer-flex-row">
            <div class="col  footer-text-center social_and_discord" style="flex: 0 35%">
                <a class="footer-grayscale" href="https://www.facebook.com/magicunboxofficial" onclick="window.open('https://www.facebook.com/magicunboxofficial', 
                         'newwindow', 
                         'width=1200,height=800'); 
              return false;">
                    <img class="social" src="/img/image/cropFb.png" alt="facebook"></a>
                <a class="footer-grayscale" href="https://twitter.com/UnboxMagic" onclick="window.open('https://twitter.com/UnboxMagic', 
                         'newwindow', 
                         'width=1200,height=800'); 
              return false;">
                    <img class="social" src="/img/image/cropTwitter.png" alt="twitter"></a>
                <a class="footer-grayscale" href="https://www.instagram.com/magic_unbox" onclick="window.open('https://www.instagram.com/magic_unbox', 
                         'newwindow', 
                         'width=1200,height=800'); 
              return false;">
                    <img class="social" src="/img/image/cropInsta.png" alt="instagram"></a>

                <a href="https://discord.gg/EuCtKg" onclick="window.open('https://discord.gg/EuCtKg', 
                         'newwindow', 
                         'width=1200,height=800'); 
              return false;">
                    <img class="discord" src="/img/icons/discord.png" alt=""></a>
            </div>
            <div class="col footer-flex footer-margin-top footer-license">
                <a onclick="openLicenseModal();" href="#">
                    <img src="/img/eGaming-license.png" alt="Operating Status Valid">
                </a>
            </div>

            <div class="col footer-flex footer-margin-top footer-checkout" style="margin-right: 5%;">
                <a href="#" class="footer-image">
                    <img src="/img/guaranteed_checkout.png" alt="Operating Status Valid">
                </a>
            </div>


            <div class="col  footer-flex " style="flex: 0 30%;">
                <div class="footer-sitemap footer-flex footer-flex-row">

                    <ul>
                        <li><a class="as" href="legal#tos">Terms of Use</a></li>
                        <li><a class="as" href="legal#privacy">Privacy Policy</a></li>
                        <li><a class="as" href="legal#refunds">Refunds</a></li>
                    </ul>
                    <ul>
                        <li><a class="as" href="legal#delivery">Delivery</a></li>
                        <li><a class="as" href="legal#faq">FAQ</a></li>
                        <li><a class="as" href="legal#about">About Us</a></li>
                    </ul>
                </div>

                <p class="footer-text">
                    <span class="footer-icon"><img src="/img/icons/mailbox.png" /></span> Customer support email:
                    <a href="mailto:support@magicunbox.com">support@magicunbox.com</a>
                    <br>
                    <span class="footer-icon"><img src="/img/icons/headphone.png" /></span>Customer support phone
                    number:
                    <a href="tel:+3572203063"> +357 22030633</a>
                </p>
            </div>

        </div>
        <div class="row">

            <div class="col l12 s12">
                <p>
                    MagicUnbox is an e-Commerce gift cards, discount coupon store website. <br>
                </p>
                <p class="footer-text-grey">
                    Here you can open virtual cases to purchase real prizes. Get electronics, luxury cutlery, sport
                    equipment, toys, video games </br> and other trendy products much cheaper! You can always check what's
                    inside our cases before you open them, and moreover we'll deliver whatever you purchase wherever
                    you want! <br>
                </p>
                <p class="footer-text-grey">
                    Magicunbox.com is operated by <a href="#">L.P.Services</a> (Office 22, Bright Tower, KENNEDY AVE
                    51B, CYPRUS). It is licensed by the Government of Curaçao under the gaming license 365/JAZ.
                </p>

            </div>
        </div>
    </div>

    <div class="footer-copyright">
        <div class="container">
            MagicUnbox all rights reserved © <span class="year"></span>
        </div>
    </div>
</footer>

{{> licenseitem }}


<script>
    document.addEventListener('DOMContentLoaded', function () {
        let span = document.querySelector("footer.page-footer .footer-copyright .container span.year");
        span.innerText = new Date().getFullYear();
    })
</script>

<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5ca90a6953f1e453fb8c7726/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->