<div  class="modal white" id="iteminfo" >
        <div >
        <div style="height: 100%;">
            <img id="iiImage" src="" style="height: auto; width: auto; max-width: 50%; max-height: 50%; display:block; margin:auto;"/>
        </div>
        <div class="modal-content" style="margin: 0 auto; bottom: -20px;  width: 90%; z-index:4;">
            <div id="iiName" class="contentText" style="margin: auto auto">;
            </div>
            <p style="text-align:center; margin:0 auto;" class="slimText" id="iiBox"></p>
            <br>
            <img src="/img/ikonica_mala.png" style="display: inline-block;margin-left : 0;"/><span class="contentText" style="display: inline-block; font-size: 18px;position: relative;bottom: 7px;">DESCRIPTION</span>
	        <hr style="display:block; margin-block-end: 0; margin-block-start: 0">
            <p id="iiDesc" style="text-align:left"  class="slimText"></p>
            <hr style="display:block; margin-block-end: 0; margin-block-start: 0">
            <p style="font-weight:700;line-height:1.5; text-align: center">MagicUnbox all right reserved Ⓒ</p>
        </div>
    </div>
</div>


<style>
.modal {
    width: 35%;
}
.contentText {
    text-align: center;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 20px;  
}
.slimText {
    text-align: center;
    font-style: normal;
    line-height: normal;
    font-size: 15px;  
}
</style>