<div  class="modal white" id="licenseitem" >
    <div >
            <a id="close-license-icon" href="#" onclick="closeLicenseModal();">
                <i class="material-icons">close</i>
            </a>
        <div style="height: 100%;">
            <img src="/img/validation.jpg" style="height: auto; width: auto; max-width: 100%; max-height: 50%; display:block; margin:auto;"/>
        </div>
    </div>
</div>


<style>
.modal {
    width: 100%;
    background-color:purple;
}
.contentText {
    text-align: center;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 20px;  
}
.slimText {
    text-align: center;
    font-style: normal;
    line-height: normal;
    font-size: 15px;  
}
</style>