<!DOCTYPE html>
<html>
<head>
    <title>MagicUnbox</title>

    <link rel="shortcut icon" type="image/png" href="/favicon.png"/>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Materialize icons-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand|Roboto|Russo+One" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/slick/slick.css"/>

    <link rel="stylesheet" type="text/css" href="/css/materialize.css">

    <link rel="stylesheet" type="text/css" href="/css/general.css">

    <link rel="stylesheet" type="text/css" href="/css/navbar.css">

    <link rel="stylesheet" type="text/css" href="/css/footer.css">

    <link rel="stylesheet" type="text/css" href="/css/homepage.css">

</head>

<body>

<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="/slick/slick.min.js"></script>

    {{> navbar}}


    <div id="rect"></div>
    <div class="bg"></div>

    {{> sidenav}}

    {{> drops}}
    <div class="body" style="margin-top: 150px;">
        <div class="container row">
            <form 
                action="/recovery"
                method="post"
                id="recovery"
                class="col s6 offset-s3"
                style="background-color: rgba(255,255,255,0.85)"
            >
            <div class="row">
                <h4 class="center">Account recovery</h4>
                <div class="input-field col s12">
                    <input name="email" placeholder="Email" id="r_email" type="text" class="validate" required>
                    <label for="r_email">Email</label>
                </div>
                <button type="submit" class="btn col s10 offset-s1">
                    <span>Send</span>
                </button>
                {{#if success}}
                    <p class="col s10 offset-s1 green lighten-2 btn" onclick="this.remove()">
                        <i class="material-icons right">close</i>
                        Email sent to {{email}}
                    </p>
                {{/if}}
                {{#each errors}}
                    <p class="col s10 offset-s1 red lighten-2 btn" onclick="this.remove()">
                        <i class="material-icons right">close</i>
                        {{this.msg}}
                    </p>
                {{/each}}
            </form>
        </div>
    </div>
    {{> promoters}}

    {{> footer}}

    <!-- MODALS -->

    {{> payment}}

    {{> login}}

    {{> register}}


    <!-- Compiled and minified JavaScript-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script src="/js/modalLogic.js"></script>

    <!-- Socket.io -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.dev.js"></script>

    <script src="/js/socket.js"></script>

    <script>
        M.AutoInit();
    </script>
</body>
</html>
