.bg {
    position: absolute;
    background: url("../img/bg-light.png") no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    top: 0;

    height: 100%;
    width: 100%;
    z-index: -1;

    position: fixed; 
    overflow: hidden;
    overflow-y: hidden;
    top: 0; right: 0; bottom: 0; left: 0; 

}