.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#rect {
    position: absolute;
    background: url("../img/rect2.png") no-repeat;
    -webkit-background-size: auto 160px;
    -moz-background-size: auto 160px;
    -o-background-size: auto 160px;
    background-size: auto 160px;
    height: 160px;
    width: 100%;
    z-index: 1;

    overflow: hidden;
    overflow-y: hidden;
}
.bg {
    position: absolute;
    background: url("../img/bg.png") no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    top: 0;

    height: 100%;
    width: 100%;
    z-index: -1;

    position: fixed; 
    overflow: hidden;
    overflow-y: hidden;
    top: 0; right: 0; bottom: 0; left: 0; 

}
#drops {
    position: absolute;
    left: 25%;
    width: 50%;
    top:80px;
    z-index: 3;
    max-height: 100px;
}
#seenOn {
    background: url("../img/winners.png") no-repeat;
    background-size: 100% 100%;
    mix-blend-mode: normal;
    height: 250px;
    z-index: 4;
}
#footer {
    background: #5D576B;
    height: 300px;
    width: 100%;
}

#login{
    width: 500px;
    overflow-y: unset;
    top: 0px !important;
}
#register{
    width: 500px;
    overflow-y: unset;
    top: 0px !important;
}
.login-card-panel{
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.95);
}

#sociallogin{
    margin-left: 17%;
 }
 
#payment{
    width: 500px;
    overflow-y: unset;
    top: 100px !important;
    border-radius: 6px;
}

.box-zoom:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1); 
    transition: 0.25s ease;
}

#items {
    position: relative;
}

.buttonpromise_holder {
    position: absolute;
    top: 1%;
    left: 85%;
    
}

.buttonpromise_holder a 
{
    display: block;
    position: relative;
}

.buttonpromise_holder img:first-child
{
    opacity: 1;
    transition: all .2s ease;
    position: relative;
    z-index: 1;
}

.buttonpromise_holder img:last-child
{
        position: absolute;
        left: 0;
}

.buttonpromise_holder:hover img:first-child
{
    opacity: 0;

}




.buttonpromise
{
  
  width: 90%;
    
    
}   

.buttonpromise:hover
{
  cursor: pointer;
  
}

.switch {
  display: inline-block;
  height: 4px;

  width: 20px;
}

.switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;

  transition: .4s;
}

.slider:before {
background-color: #fff;
    bottom: 2px;
    content: "";
    height: 16px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 16px;
}

input:checked + .slider {
  background-color: purple;
}

input:checked + .slider:before {
  transform: translateX(35px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.slider_holder {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 50%;
    top:87px;
    z-index:7;
    margin-left: 5px;
}
#items_slider{
      height: 20px;
      width: 60px;
      z-index: 4;
}

body {
  background-color: #f1f2f3;
}

.labelwin 
{
    position: absolute;
    top: 80px;
    left: 44%;
    height: 10px;
    width: 20px;
    font-size: 15px;
    z-index: 4;
}

.itemhover:hover
{
    cursor: pointer;
}

.prices 
{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 200px; /* Set a default minimum width */
    height: 70px;
    margin-left: -300px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: rgb(45, 212, 129); /* White text color */
    text-align: center; /* Centered text */
    border-radius: 15px; /* Rounded borders */
    padding-top: 5px; /* Padding */
    padding-left: 25px;
    padding-right: 25px;
    position: fixed; /* Sit on top of the screen */
    z-index: 10; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    top: 180px; /* 30px from the bottom */

  }

  #snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }

  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
  }

  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }

  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
  }

  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }


  #realPrice
  {
    text-decoration: line-through black;
    margin-right: 3px;
    
  }

  #salePrice
  {
    font-size: 20px;
    color: crimson;
    margin-left: 3px;
    
  }

  .counter
  {
    display: block;
    font-size: 30px;
    color: antiquewhite;
  }



